log/*.log*
tmp/**/*
.bundle
db/*.sqlite3
log/*.log
.DS_Store
db/schema.rb
/log/*.pid
/coverage/*
public/system/*
.idea/*
tmp/restart.txt
tmp/metric_fu/*
tmp/sent_mails/*
.ackrc
config/database.yml
public/upload/
.tmp_*
.loadpath
.project
.idea
webrat-*
*~
*.swp
*.swo
tags
vendor/gems
vendor/rails
/capybara*
config/initializers/proxy.rb
config/initializers/configuration.rb
public/stylesheets/compiled/*
solr/data
solr/data/*
.bundle/
Gemfile.lock
Session.vim
