/*-----------------------------------------------------------
						VARS
-----------------------------------------------------------*/
/*-----------------------------------------------------------
						RESET
-----------------------------------------------------------*/
/* line 14, ../../app/stylesheets/blog.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
}

/* line 23, ../../app/stylesheets/blog.scss */
.clear {
  clear: both;
}

/* line 27, ../../app/stylesheets/blog.scss */
body {
  line-height: 1;
}

/* line 30, ../../app/stylesheets/blog.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../../app/stylesheets/blog.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../../app/stylesheets/blog.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 42, ../../app/stylesheets/blog.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../../app/stylesheets/blog.scss */
ins {
  text-decoration: none;
}

/* line 49, ../../app/stylesheets/blog.scss */
del {
  text-decoration: line-through;
}

/* line 52, ../../app/stylesheets/blog.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----------------------------------------------------------
		TYPOGRAPHY - GLOBAL
-----------------------------------------------------------*/
/* line 60, ../../app/stylesheets/blog.scss */
body {
  margin: 0;
  background-color: #FFF;
  color: #666;
  /*font: normal 0.9em/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* line 68, ../../app/stylesheets/blog.scss */
a:link, a:visited {
  color: #333;
}
/* line 70, ../../app/stylesheets/blog.scss */
a:hover, a:active {
  color: #000;
}

/* line 73, ../../app/stylesheets/blog.scss */
h1 {
  font-size: 1.5em;
}

/* line 76, ../../app/stylesheets/blog.scss */
h2 {
  margin: 1em 0 1.5em;
  color: #AAA;
  font-size: 1.3em;
}

/* line 81, ../../app/stylesheets/blog.scss */
h3 {
  margin: 1.5em 0 .5em;
  font-size: 1.1em;
}

/* line 85, ../../app/stylesheets/blog.scss */
p {
  margin: .2em 0 1em;
}

/* line 88, ../../app/stylesheets/blog.scss */
ul, ol {
  margin: .2em 0 1em 2.1em;
}

/* line 91, ../../app/stylesheets/blog.scss */
ul li, ol li {
  margin-bottom: .75em;
}

/* line 94, ../../app/stylesheets/blog.scss */
ul li {
  list-style: disc;
}

/* line 97, ../../app/stylesheets/blog.scss */
ol li {
  list-style: decimal;
}

/* line 100, ../../app/stylesheets/blog.scss */
.hidden {
  display: none !important;
}

/* line 103, ../../app/stylesheets/blog.scss */
kbd, code, tt {
  font: normal 12px/16px "Monaco", "Courier New", Courier, monospace;
}

/*-----------------------------------------------------------
					LAYOUT
-----------------------------------------------------------*/
/* line 110, ../../app/stylesheets/blog.scss */
body {
  text-align: center;
  min-width: 860px;
}

/* line 114, ../../app/stylesheets/blog.scss */
.wrapper, .footer, .header {
  width: 860px;
  margin: 0 auto;
  text-align: left;
}

/* line 122, ../../app/stylesheets/blog.scss */
.content {
  float: left;
  width: 520px;
}

/* line 126, ../../app/stylesheets/blog.scss */
.sidebar {
  float: right;
  width: 270px;
  margin: 12px 0 0 0;
}

/* line 131, ../../app/stylesheets/blog.scss */
.footer {
  border-top: 1px solid #a4a4a4;
  margin-top: 5px;
  clear: both;
  font-size: 12px;
}
/* line 136, ../../app/stylesheets/blog.scss */
.footer p {
  padding: 8px 0 0 0;
}
/* line 138, ../../app/stylesheets/blog.scss */
.footer span {
  float: right;
}

/* line 141, ../../app/stylesheets/blog.scss */
.header {
  margin-bottom: 15px;
  text-indent: -10000px;
  background-color: #79aff8;
  font-size: 0.3em;
}

/*-----------------------------------------------------------
				ADMINBAR
-----------------------------------------------------------*/
/* line 151, ../../app/stylesheets/blog.scss */
.adminbar {
  background: url("../images/adminbar.png") left top repeat-x;
  height: 30px;
}
/* line 154, ../../app/stylesheets/blog.scss */
.adminbar a {
  border: medium none;
  color: #fff;
  display: block;
  font: 13px/28px Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  padding: 0 0.85em;
  text-decoration: none !important;
  text-shadow: 0 -1px 0 #333333;
}
/* line 163, ../../app/stylesheets/blog.scss */
.adminbar a:hover {
  background: url("../images/adminhover.png") left top repeat-x;
  height: 30px;
}
/* line 166, ../../app/stylesheets/blog.scss */
.adminbar a.closed {
  color: #a4a4a4;
}
/* line 168, ../../app/stylesheets/blog.scss */
.adminbar a.closed:hover {
  color: #a4a4a4;
}
/* line 170, ../../app/stylesheets/blog.scss */
.adminbar a.open {
  color: #78D261;
  text-shadow: 0 -1px 0 #555555;
}
/* line 173, ../../app/stylesheets/blog.scss */
.adminbar a.open:hover {
  color: #78D261;
  text-shadow: 0 -1px 0 #555555;
}
/* line 176, ../../app/stylesheets/blog.scss */
.adminbar a.delete {
  color: #a4a4a4;
  text-shadow: 0 -1px 0 #555555;
}
/* line 179, ../../app/stylesheets/blog.scss */
.adminbar a.delete:hover {
  color: #a4a4a4;
  text-shadow: 0 -1px 0 #555555;
}
/* line 182, ../../app/stylesheets/blog.scss */
.adminbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 186, ../../app/stylesheets/blog.scss */
.adminbar li {
  float: left;
  list-style: none;
}
/* line 189, ../../app/stylesheets/blog.scss */
.adminbar li.right {
  float: right;
}
/* line 192, ../../app/stylesheets/blog.scss */
.adminbar li em {
  border: medium none;
  color: #fff;
  display: block;
  font: 13px/28px Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  padding: 0 0.85em;
  text-decoration: none !important;
  text-shadow: 0 -1px 0 #333333;
}

/* line 202, ../../app/stylesheets/blog.scss */
.comments-toggle {
  margin: 6px 0 0 10px;
}

/* line 205, ../../app/stylesheets/blog.scss */
.adminbar a.spam {
  padding-top: 2px;
}

/*-----------------------------------------------------------
					SIDEBAR
-----------------------------------------------------------*/
/* line 213, ../../app/stylesheets/blog.scss */
.sidebar h2 {
  margin-bottom: 10px;
  color: #666;
  font-size: 1.2em;
}
/* line 218, ../../app/stylesheets/blog.scss */
.sidebar #tag_cloud {
  margin-bottom: 10px;
}
/* line 221, ../../app/stylesheets/blog.scss */
.sidebar #tweets_container {
  margin-bottom: 10px;
}
/* line 223, ../../app/stylesheets/blog.scss */
.sidebar #tweets_container p {
  line-height: 1.3;
  font-size: .9em;
  margin: 0 0 0.8em 0;
}
/* line 228, ../../app/stylesheets/blog.scss */
.sidebar #tweets_container a {
  font-weight: bold;
  border-bottom: 1px solid #79aff8;
  color: #3f8cf5;
  text-decoration: none;
}
/* line 234, ../../app/stylesheets/blog.scss */
.sidebar #tweets_container a.image {
  border-bottom: none;
}
/* line 238, ../../app/stylesheets/blog.scss */
.sidebar .block-content {
  margin: 22px 0 0 0;
  padding: 0 0 0.1em;
}
/* line 241, ../../app/stylesheets/blog.scss */
.sidebar .block-content h2 {
  margin: 0 0 .7em;
  color: #79aff8;
  font-size: 1.2em;
}
/* line 245, ../../app/stylesheets/blog.scss */
.sidebar .block-content p {
  line-height: 1.8;
  font-size: .9em;
}
/* line 248, ../../app/stylesheets/blog.scss */
.sidebar .block-content a {
  font-weight: bold;
  border-bottom: 1px solid #79aff8;
  color: #3f8cf5;
  text-decoration: none;
}
/* line 254, ../../app/stylesheets/blog.scss */
.sidebar .block-content a:image {
  border-bottom: none;
}
/* line 259, ../../app/stylesheets/blog.scss */
.sidebar div#search {
  background-color: #D3F6FC;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.9em;
}
/* line 266, ../../app/stylesheets/blog.scss */
.sidebar div#search a {
  font-size: 0.9em;
}
/* line 268, ../../app/stylesheets/blog.scss */
.sidebar div#search form input {
  padding: 5px 5px 5px 30px;
  width: 205px;
  font-size: 0.9em;
  margin-top: 0.9em;
  color: #7c7c7c;
  background: white url("../images/search.png") no-repeat 0.5em center;
}

/* Archive and Google Search */
/*.sidebar div#search form fieldset {
	display: inline-block;
}*/
/* Subscribe to feed */
/* line 283, ../../app/stylesheets/blog.scss */
.subscribe {
  margin: 20px 0 20px 0;
}
/* line 285, ../../app/stylesheets/blog.scss */
.subscribe a {
  display: inline;
  padding-left: 1.9em;
  background: url("../images/rss6.png") no-repeat left center;
  color: #F47719;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  height: 32px;
}

/* line 295, ../../app/stylesheets/blog.scss */
.feedburner {
  text-align: center;
}

/* Company introduction */
/* line 301, ../../app/stylesheets/blog.scss */
.sidebar #intro p {
  color: #999999;
  letter-spacing: 0.3px;
}
/* line 304, ../../app/stylesheets/blog.scss */
.sidebar span.portrait {
  background-color: #FFFFFF;
  border: 1px solid #C8C7BA;
  display: block;
  float: left;
  margin-right: 12px;
  margin-top: 8px;
  padding: 4px;
  position: relative;
  /*box-shadow: 2px 2px 2px #ccc;
  -moz-box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;*/
}
/* line 316, ../../app/stylesheets/blog.scss */
.sidebar span.portrait img {
  border: 1px solid #555653;
  display: block;
}

/*-----------------------------------------------------------
				BLOG POST
-----------------------------------------------------------*/
/* line 324, ../../app/stylesheets/blog.scss */
.post {
  color: #333;
  clear: both;
}
/* line 327, ../../app/stylesheets/blog.scss */
.post h2 {
  font-size: 28px;
  color: #3f8cf5;
  letter-spacing: 0px;
  line-height: 30px;
}
/* line 332, ../../app/stylesheets/blog.scss */
.post h2 a {
  color: #3f8cf5;
  text-decoration: none;
}
/* line 335, ../../app/stylesheets/blog.scss */
.post h2 a:hover {
  color: #3f8cf5;
  text-decoration: underline;
}
/* line 338, ../../app/stylesheets/blog.scss */
.post h2 a.article {
  text-decoration: none;
}
/* line 341, ../../app/stylesheets/blog.scss */
.post h2 span.author {
  font-size: 24px;
  color: #79aff8;
  overflow: visible;
}
/* line 346, ../../app/stylesheets/blog.scss */
.post h2 span.date {
  font-size: 24px;
  font-weight: normal;
  color: #a4a4a4;
}
/* line 353, ../../app/stylesheets/blog.scss */
.post span.nobreak {
  white-space: nowrap;
  display: inline-block;
  /*IE 6 fix*/
}
/* line 357, ../../app/stylesheets/blog.scss */
.post p.meta {
  margin: -35px 0 20px 0;
  color: #999;
  font-size: .9em;
  background: url("../images/comments.png") left center no-repeat;
  padding: 3px 0 0 29px;
  vertical-align: middle;
  height: 24px;
}
/* line 365, ../../app/stylesheets/blog.scss */
.post p.meta a {
  font-weight: bold;
  border-bottom: 1px solid #79aff8;
  color: #3f8cf5;
  text-decoration: none;
}
/* line 371, ../../app/stylesheets/blog.scss */
.post .entry p {
  line-height: 21px;
  font-size: 1em;
}
/* line 374, ../../app/stylesheets/blog.scss */
.post .entry h1, .post .entry h2, .post .entry h5, .post .entry h6 {
  margin: 1.5em 0 .6em;
  color: #DC143C;
  font-size: 1.0em;
}
/* line 378, ../../app/stylesheets/blog.scss */
.post .entry h3 {
  color: #3f8cf5;
  font-size: 1.2em;
}
/* line 381, ../../app/stylesheets/blog.scss */
.post .entry h4 {
  margin: 1.5em 0 .6em;
  color: #333;
  font-size: 1.1em;
}
/* line 385, ../../app/stylesheets/blog.scss */
.post .entry a {
  font-weight: bold;
  border-bottom: 1px solid #79aff8;
  color: #3f8cf5;
  text-decoration: none;
}
/* line 390, ../../app/stylesheets/blog.scss */
.post .entry a:hover {
  border-color: #666;
  color: #000;
}
/* line 393, ../../app/stylesheets/blog.scss */
.post .entry img {
  display: block;
  /*padding: 3px;*/
}
/* line 396, ../../app/stylesheets/blog.scss */
.post .entry img.align-right {
  float: right;
  margin: .3em 0 .6em 20px;
}
/* line 399, ../../app/stylesheets/blog.scss */
.post .entry img.align-left {
  float: left;
  margin: .3em 20px .6em 0;
}
/* line 402, ../../app/stylesheets/blog.scss */
.post .entry blockquote, .post .entry q {
  quotes: "\201C" "\201D";
  clear: both;
}
/* line 405, ../../app/stylesheets/blog.scss */
.post .entry blockquote, .post .entry q {
  margin: 1em 2em;
  padding: .5em 1.3em;
  /*border-left: 1px solid $light_text;*/
  color: #666;
  font: italic 0.9em/1.7 Georgia, "Times New Roman", Times, serif;
  margin-top: -40px;
}
/* line 413, ../../app/stylesheets/blog.scss */
.post .entry blockquote:before, .post .entry blockquote:after {
  color: #79aff8;
  display: block;
  font-size: 625%;
}
/* line 418, ../../app/stylesheets/blog.scss */
.post .entry q:before, .post .entry q:after {
  color: #79aff8;
  display: block;
  font-size: 625%;
}
/* line 422, ../../app/stylesheets/blog.scss */
.post .entry blockquote:before, .post .entry q:before {
  content: open-quote;
  height: 45px;
  margin-left: -0.55em;
  margin-top: -5px;
}
/* line 427, ../../app/stylesheets/blog.scss */
.post .entry blockquote:after, .post .entry q:after {
  /*content: close-quote;*/
  content: '';
  height: 60px;
  margin-top: -75px;
  margin-left: 415px;
}
/* line 433, ../../app/stylesheets/blog.scss */
.post .entry code {
  display: block;
  padding: 1em 1.5em;
  white-space: pre-wrap;
}
/* line 438, ../../app/stylesheets/blog.scss */
.post .entry ul li {
  margin: 0 .8em .5em;
  list-style-type: circle;
}
/* line 441, ../../app/stylesheets/blog.scss */
.post .entry ol li {
  margin: 0 .8em .5em;
  list-style-type: decimal;
}
/* line 444, ../../app/stylesheets/blog.scss */
.post .entry em.strike {
  font-weight: normal;
  font-style: normal;
  text-decoration: line-through;
}
/* line 448, ../../app/stylesheets/blog.scss */
.post p.full-post {
  margin: 1.5em 0 0 0;
}
/* line 450, ../../app/stylesheets/blog.scss */
.post p.full-post a {
  padding: .25em .5em;
  background-color: #EEE;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 458, ../../app/stylesheets/blog.scss */
.post p.full-post a:hover {
  background-color: #333;
  color: #FFF;
  text-shadow: 0 1px 0 #222;
}
/* line 462, ../../app/stylesheets/blog.scss */
.post ul.social {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  padding: 10px 0 5px 0;
  margin-bottom: 10px;
  background-color: #FFE8D9;
  border-top: 1px solid #f88900;
}
/* line 471, ../../app/stylesheets/blog.scss */
.post ul.social li {
  list-style: none;
  margin: 0 12px 5px;
  padding: 5px 0 5px 0;
}
/* line 475, ../../app/stylesheets/blog.scss */
.post ul.social li.feed {
  font-size: 0.9em;
}
/* line 477, ../../app/stylesheets/blog.scss */
.post ul.social a {
  color: #f88900;
  border-bottom: 1px solid #f88900;
  font-weight: bold;
  text-decoration: none;
}
/* line 484, ../../app/stylesheets/blog.scss */
.post ul.social_fixed {
  display: block;
  position: fixed;
  top: 70px;
  margin: 0 0 0 -95px;
  padding: 0;
}
/* line 491, ../../app/stylesheets/blog.scss */
.post ul.social_fixed li {
  background-color: #fff;
  list-style: none;
  text-align: center;
  margin: 0 12px 5px;
  padding: 0;
}

/* Meta */
/* Blog entry */
/*.post .entry code {
	display: block;
	margin: 1em 2em;
	padding: 1em 1.5em;
	border-left: 1px solid $light_text;
	background-color: #EEE;
	white-space: pre-wrap;
}*/
/* Link to full blog post */
/*-----------------------------------------------------------
				SOCIAL STYLES
-----------------------------------------------------------*/
/*-----------------------------------------------------------
					COMMENTS
-----------------------------------------------------------*/
/* line 524, ../../app/stylesheets/blog.scss */
.comments_canvas {
  float: left;
  background-color: #D3F6FC;
  display: block;
  clear: both;
}
/* line 529, ../../app/stylesheets/blog.scss */
.comments_canvas h2 {
  overflow: hidden;
  border-bottom: 1px solid #a4a4a4;
  font-size: 1.0em;
  letter-spacing: normal;
  margin: 0 0 15px 0;
  background-color: #ffffff;
}
/* line 536, ../../app/stylesheets/blog.scss */
.comments_canvas h2 span.count {
  float: right;
  padding: .1em .5em;
  background-color: #a4a4a4;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* line 544, ../../app/stylesheets/blog.scss */
.comments_canvas h2.plain {
  margin: 0;
  border-bottom: none;
}
/* line 547, ../../app/stylesheets/blog.scss */
.comments_canvas h2 img {
  float: right;
  margin-top: 7px;
  margin-right: 2px;
  cursor: pointer;
}
/* line 554, ../../app/stylesheets/blog.scss */
.comments_canvas .comments {
  background-color: #D3F6FC;
}
/* line 557, ../../app/stylesheets/blog.scss */
.comments_canvas .comment, .comments_canvas #post_a_comment {
  margin: 0 12px 0px 12px;
  padding: 5px 0 10px 5px;
}
/* line 560, ../../app/stylesheets/blog.scss */
.comments_canvas .admin_comment {
  border: 1px solid #79aff8;
  background-color: #ffffff;
  margin-bottom: 10px;
}
/* line 565, ../../app/stylesheets/blog.scss */
.comments_canvas .comment {
  min-height: 50px;
  margin-top: 0px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #CCCCCC;
  clear: both;
}
/* line 571, ../../app/stylesheets/blog.scss */
.comments_canvas .comment .icons {
  float: right;
  text-align: right;
}
/* line 575, ../../app/stylesheets/blog.scss */
.comments_canvas .comment a {
  float: left;
}
/* line 579, ../../app/stylesheets/blog.scss */
.comments_canvas .comment p {
  margin: 5px 0 0 0;
}
/* line 582, ../../app/stylesheets/blog.scss */
.comments_canvas .comment img.avatar {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 587, ../../app/stylesheets/blog.scss */
.comments_canvas .comment .author {
  color: #AAAAAA;
  font-size: 0.8em;
  font-family: verdana, sans-serif;
}

/* Comment */
/* line 596, ../../app/stylesheets/blog.scss */
h3 span.date {
  color: #ccc;
  font-weight: normal;
  letter-spacing: -1px;
}

/* line 602, ../../app/stylesheets/blog.scss */
.comments_canvas .comment h3 span.stats {
  float: right;
}
/* line 604, ../../app/stylesheets/blog.scss */
.comments_canvas .comment h3 span.stats span {
  padding: 0 0 0 5px;
}
/* line 606, ../../app/stylesheets/blog.scss */
.comments_canvas .comment h3 span.stats .rep {
  vertical-align: text-top;
}
/* line 608, ../../app/stylesheets/blog.scss */
.comments_canvas .comment h3 span.aux {
  vertical-align: text-bottom;
  cursor: pointer;
}
/* line 611, ../../app/stylesheets/blog.scss */
.comments_canvas .comment h3 span.aux img {
  padding-right: 5px;
}

/* line 614, ../../app/stylesheets/blog.scss */
.comment-body {
  font-size: 0.9em;
  line-height: 1.3em;
  white-space: pre-wrap;
}

/* line 621, ../../app/stylesheets/blog.scss */
.comments_canvas .comment blockquote {
  display: block;
  color: #666666;
  font: italic 0.9em/1.7 Georgia, "Times New Roman", Times, serif;
  line-height: 18px;
  margin: 0 40px 0 15px;
}
/* line 627, ../../app/stylesheets/blog.scss */
.comments_canvas .comment code {
  display: block;
  margin: 0 15px 0 15px;
}
/* line 630, ../../app/stylesheets/blog.scss */
.comments_canvas #post_a_comment {
  float: left;
  padding: 0;
  /*padding between last comment and comments container*/
}
/* line 634, ../../app/stylesheets/blog.scss */
.comments_canvas #post_a_comment h2 {
  clear: both;
  padding: 20px 0 0 0;
  /*whitepaces between last comment and [Post a comment]*/
  margin-left: -12px;
  margin-right: -12px;
}
/* line 640, ../../app/stylesheets/blog.scss */
.comments_canvas .form-field {
  margin-bottom: 1em;
}
/* line 642, ../../app/stylesheets/blog.scss */
.comments_canvas .form-field input, .comments_canvas .form-field textarea {
  padding: .25em .5em;
  font: normal 0.9em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 646, ../../app/stylesheets/blog.scss */
.comments_canvas .form-submit input, .comments_canvas .form-submit span#submit-comment {
  padding: .25em .5em;
  font: normal 0.9em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Post a comment */
/* line 652, ../../app/stylesheets/blog.scss */
.sidebar .form-submit input {
  padding: .25em .5em;
  font: normal 0.9em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 657, ../../app/stylesheets/blog.scss */
.comments_canvas .form-field textarea#comment_content {
  font-weight: bold;
}
/* line 660, ../../app/stylesheets/blog.scss */
.comments_canvas .form-submit input, .comments_canvas .form-submit span#submit-comment {
  border: 0;
  background-color: #333;
  color: #FFF;
  text-shadow: 0 1px 0 #222;
  font-weight: bold;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 0 15px 0;
}

/* line 671, ../../app/stylesheets/blog.scss */
.sidebar .form-submit input {
  border: 0;
  background-color: #333;
  color: #FFF;
  text-shadow: 0 1px 0 #222;
  font-weight: bold;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 0 15px 0;
}

/* line 682, ../../app/stylesheets/blog.scss */
.comments_canvas .form-submit span#submit-comment {
  padding: 4px 10px 4px 10px;
}

/* Comment preview*/
/* line 687, ../../app/stylesheets/blog.scss */
#comment_preview_canvas {
  display: none;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
/* line 691, ../../app/stylesheets/blog.scss */
#comment_preview_canvas .preview_comment_link {
  padding-bottom: 15px;
}
/* line 693, ../../app/stylesheets/blog.scss */
#comment_preview_canvas .comment-body {
  line-height: 18px;
  clear: both;
}
/* line 696, ../../app/stylesheets/blog.scss */
#comment_preview_canvas .form-submit {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

/* line 701, ../../app/stylesheets/blog.scss */
#comment_preview #comment_0 {
  margin: 0;
}

/*Comment Closed*/
/* line 706, ../../app/stylesheets/blog.scss */
.comments_canvas #comments_closed {
  border-bottom: none;
  color: #333;
}

/*-----------------------------------------------------------
					ARCHIVES
-----------------------------------------------------------*/
/* line 715, ../../app/stylesheets/blog.scss */
.archives h2 {
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 30px;
  display: block;
}
/* line 720, ../../app/stylesheets/blog.scss */
.archives h3 {
  font-size: 23px;
  letter-spacing: -1px;
  line-height: 30px;
  margin-bottom: 0;
  margin-bottom: 5px;
}
/* line 726, ../../app/stylesheets/blog.scss */
.archives ul {
  margin: 0;
  padding: 0;
}
/* line 729, ../../app/stylesheets/blog.scss */
.archives li {
  list-style: none;
  line-height: 12px;
}
/* line 732, ../../app/stylesheets/blog.scss */
.archives li a {
  color: #000;
}
/* line 734, ../../app/stylesheets/blog.scss */
.archives li a:hover {
  color: #ffffff !important;
  background-color: #000;
  text-decoration: none;
}

/* line 739, ../../app/stylesheets/blog.scss */
.drafts li a:hover, .users li a:hover {
  color: #000 !important;
  background-color: #fff;
  text-decoration: underline;
}

/* line 746, ../../app/stylesheets/blog.scss */
.archives li a:visited {
  color: #666;
}
/* line 748, ../../app/stylesheets/blog.scss */
.archives li img {
  vertical-align: middle;
  cursor: pointer;
}
/* line 752, ../../app/stylesheets/blog.scss */
.archives span.comments, .archives span.latest {
  -moz-border-radius: 3px 3px 3px 3px;
  background-color: #a4a4a4;
  color: #FFFFFF;
  padding: 0.1em 0.5em;
  text-shadow: 0 1px 0 #CCCCCC;
}
/* line 758, ../../app/stylesheets/blog.scss */
.archives span.comments {
  text-shadow: 0 1px 0 #ffffff;
  color: #666;
  margin-left: 0.5em;
}

/*-----------------------------------------------------------
				USERS
-----------------------------------------------------------*/
/* line 768, ../../app/stylesheets/blog.scss */
.users ul {
  margin: 20px 0 0 0px;
}
/* line 770, ../../app/stylesheets/blog.scss */
.users label {
  display: block;
  padding-bottom: 5px;
  font-weight: bold;
}

/* line 775, ../../app/stylesheets/blog.scss */
.sidebar .user_management a {
  border-bottom: none;
}

/* line 779, ../../app/stylesheets/blog.scss */
.fieldWithErrors label {
  color: #8A1F11;
}
/* line 781, ../../app/stylesheets/blog.scss */
.fieldWithErrors input {
  color: #8A1F11;
  background-color: #FBE3E4;
  border-color: #FBC2C4;
}

/*-----------------------------------------------------------
					SPAM
-----------------------------------------------------------*/
/* line 790, ../../app/stylesheets/blog.scss */
img#spam_grill {
  float: right;
  margin-top: -5em;
}

/*-----------------------------------------------------------
					CREATE POST
-----------------------------------------------------------*/
/* line 798, ../../app/stylesheets/blog.scss */
.sidebar #title-container {
  margin-top: 13px;
  margin-bottom: 20px;
}
/* line 801, ../../app/stylesheets/blog.scss */
.sidebar #title-container input {
  width: 520px;
  padding: 3px 4px;
  line-height: 15px;
  color: #666;
  font-size: 1.3em;
  font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
  border: 1px solid #999;
  -moz-border-radius: 6px 6px 6px 6px;
}
/* line 810, ../../app/stylesheets/blog.scss */
.sidebar #title-container p {
  padding: 10px 0 0 0;
}

/*-----------------------------------------------------------
						WMD
-----------------------------------------------------------*/
/* line 817, ../../app/stylesheets/blog.scss */
.tags {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* line 822, ../../app/stylesheets/blog.scss */
#wmd-container {
  margin: 0;
}
/* line 824, ../../app/stylesheets/blog.scss */
#wmd-container textarea {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  border: 1px solid #999;
  font-size: 90%;
}

/* line 829, ../../app/stylesheets/blog.scss */
#wmd-container textarea {
  width: 520px;
}

/* line 834, ../../app/stylesheets/blog.scss */
#wmd-container textarea {
  padding: 3px;
  height: 200px;
  line-height: 1.2;
}

/* line 839, ../../app/stylesheets/blog.scss */
.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 14px;
  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

/*-----------------------------------------------------------
LOCALIZABLE (NON-IMAGE) BUTTONS
-----------------------------------------------------------*/
/* line 852, ../../app/stylesheets/blog.scss */
div.button {
  /* Ensure the keyboard focus outline can still be seen */
  overflow: hidden;
  margin-left: -1px;
  margin-top: -1px;
  padding: 1px;
}
/* line 858, ../../app/stylesheets/blog.scss */
div.button a {
  background: url("../images/button_left.gif") 0 0 no-repeat !important;
  /* !important to overrule background: none on a:hover. Otherwise the default hover color bleeds through */
  display: block;
  float: left;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Verdana', sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  margin-right: 0.4em;
  padding: 0 0 0 16px;
  text-decoration: none;
  text-shadow: 0 0 1px #ffffff;
  text-wrap: none;
}
/* line 872, ../../app/stylesheets/blog.scss */
div.button a:hover {
  background: url("../images/button_left.gif") 0 0 no-repeat !important;
  /* !important to overrule background: none on a:hover. Otherwise the default hover color bleeds through */
  display: block;
  float: left;
  font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Verdana', sans-serif;
  font-size: 13px;
  font-weight: bold;
  height: 32px;
  margin-right: 0.4em;
  padding: 0 0 0 16px;
  text-decoration: none;
  text-shadow: 0 0 1px #ffffff;
  text-wrap: none;
}
/* line 886, ../../app/stylesheets/blog.scss */
div.button a span {
  background: url("../images/button_right.gif") 100% 0 no-repeat;
  color: #000000;
  display: block;
  padding: 0px 12px 3px 0;
  line-height: 29px;
}
/* line 892, ../../app/stylesheets/blog.scss */
div.button a:active {
  background-position: 0 -32px !important;
}
/* line 894, ../../app/stylesheets/blog.scss */
div.button a:active span {
  background-position: 100% -32px !important;
}
/* line 896, ../../app/stylesheets/blog.scss */
div.button a.disabled {
  background-image: url("../images/add_button_left_disabled.gif");
}
/* line 898, ../../app/stylesheets/blog.scss */
div.button a.disabled span {
  color: #555555;
}

/* A disabled button */
/*-----------------------------------------------------------
					CODE HIGHLIGHTING
-----------------------------------------------------------*/
/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/
/* line 910, ../../app/stylesheets/blog.scss */
pre code {
  display: block;
  padding: 0.5em;
  background: #203040;
  color: #f8f8f8;
}
/* line 915, ../../app/stylesheets/blog.scss */
pre .shebang, pre .comment, pre .template_comment, pre .javadoc {
  color: #7c7c7c;
}
/* line 917, ../../app/stylesheets/blog.scss */
pre .keyword, pre .tag, pre .ruby .function .keyword, pre .tex .command {
  color: #96CBFE;
}
/* line 919, ../../app/stylesheets/blog.scss */
pre .function .keyword, pre .sub .keyword, pre .method, pre .list .title {
  color: #FFFFB6;
}
/* line 921, ../../app/stylesheets/blog.scss */
pre .string, pre .tag .value, pre .cdata, pre .filter .argument, pre .attr_selector, pre .apache .cbracket, pre .date {
  color: #A8FF60;
}
/* line 923, ../../app/stylesheets/blog.scss */
pre .subst {
  color: #DAEFA3;
}
/* line 925, ../../app/stylesheets/blog.scss */
pre .regexp {
  color: #E9C062;
}
/* line 927, ../../app/stylesheets/blog.scss */
pre .function .title, pre .sub .identifier, pre .pi, pre .decorator, pre .ini .title, pre .tex .special, pre .class .title, pre .constant, pre .smalltalk .class, pre .javadoctag, pre .yardoctag, pre .phpdoc, pre .nginx .built_in {
  color: #FFFFB6;
}
/* line 929, ../../app/stylesheets/blog.scss */
pre .symbol {
  color: #C6C5FE;
}
/* line 932, ../../app/stylesheets/blog.scss */
pre .ruby .symbol .string, pre .ruby .symbol .keyword, pre .ruby .symbol .keymethods {
  color: #C6C5FE;
}
/* line 934, ../../app/stylesheets/blog.scss */
pre .number, pre .variable, pre .vbscript, pre .literal {
  color: #C6C5FE;
}
/* line 937, ../../app/stylesheets/blog.scss */
pre .css .keyword {
  color: #96CBFE;
}
/* line 939, ../../app/stylesheets/blog.scss */
pre .css .rule .keyword, pre .css .id {
  color: #FFFFB6;
}
/* line 941, ../../app/stylesheets/blog.scss */
pre .css .class {
  color: #FFF;
}
/* line 943, ../../app/stylesheets/blog.scss */
pre .hexcolor {
  color: #C6C5FE;
}
/* line 945, ../../app/stylesheets/blog.scss */
pre .number {
  color: #FF73FD;
}
/* line 947, ../../app/stylesheets/blog.scss */
pre .tex .formula {
  opacity: 0.7;
}

/*-----------------------------------------------------------
					PAGINATION
-----------------------------------------------------------*/
/* line 954, ../../app/stylesheets/blog.scss */
.pagination {
  background: white;
  font-size: 0.9em;
  text-align: center;
}
/* line 958, ../../app/stylesheets/blog.scss */
.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 963, ../../app/stylesheets/blog.scss */
.pagination span.disabled {
  color: #999;
  border: 1px solid #a4a4a4;
}
/* line 966, ../../app/stylesheets/blog.scss */
.pagination em {
  font-weight: bold;
  background: #2E6AB1;
  color: white;
  border: 1px solid #2E6AB1;
}
/* line 971, ../../app/stylesheets/blog.scss */
.pagination a {
  text-decoration: none;
  color: #105CB6;
  border: 1px solid #9AAFE5;
}
/* line 975, ../../app/stylesheets/blog.scss */
.pagination a:hover, .pagination a:focus {
  color: #003;
  border-color: #003;
}
/* line 978, ../../app/stylesheets/blog.scss */
.pagination .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}
/* line 985, ../../app/stylesheets/blog.scss */
.pagination .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em;
}
/* line 989, ../../app/stylesheets/blog.scss */
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*-----------------------------------------------------------
					TIPSY
-----------------------------------------------------------*/
/* line 1001, ../../app/stylesheets/blog.scss */
.tipsy {
  padding: 5px;
  font-size: 10px;
  position: absolute;
  z-index: 100000;
}

/* line 1007, ../../app/stylesheets/blog.scss */
.tipsy-inner {
  padding: 5px 8px 4px 8px;
  background-color: black;
  color: white;
  max-width: 200px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 1017, ../../app/stylesheets/blog.scss */
.tipsy-arrow {
  position: absolute;
  background: url("../images/tipsy.gif") no-repeat top left;
  width: 9px;
  height: 5px;
}

/* line 1023, ../../app/stylesheets/blog.scss */
.tipsy-n .tipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -4px;
}

/* line 1028, ../../app/stylesheets/blog.scss */
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
}

/* line 1032, ../../app/stylesheets/blog.scss */
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
}

/* line 1036, ../../app/stylesheets/blog.scss */
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  background-position: bottom left;
}

/* line 1042, ../../app/stylesheets/blog.scss */
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  background-position: bottom left;
}

/* line 1047, ../../app/stylesheets/blog.scss */
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  background-position: bottom left;
}

/* line 1052, ../../app/stylesheets/blog.scss */
.tipsy-e .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  right: 0;
  width: 5px;
  height: 9px;
  background-position: top right;
}

/* line 1060, ../../app/stylesheets/blog.scss */
.tipsy-w .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  left: 0;
  width: 5px;
  height: 9px;
}

/* line 1066, ../../app/stylesheets/blog.scss */
.socialize {
  height: 60px;
  margin-top: 5px;
}
/* line 1069, ../../app/stylesheets/blog.scss */
.socialize a {
  float: left;
  margin-right: 3px;
}
