/* line 1, ../../app/stylesheets/modstyles.scss */
body {
  text-align: center;
  min-width: 1100px;
}

/* line 5, ../../app/stylesheets/modstyles.scss */
.wrapper, .footer {
  width: 1100px;
  margin: 0 auto;
  text-align: left;
}

/* line 10, ../../app/stylesheets/modstyles.scss */
.content {
  float: left;
  width: 520px;
}

/* line 14, ../../app/stylesheets/modstyles.scss */
.sidebar {
  float: right;
  width: 530px;
  margin: 12px 0 0 0;
}

/* line 19, ../../app/stylesheets/modstyles.scss */
ul.options {
  margin: 0;
  padding: 0;
}
/* line 22, ../../app/stylesheets/modstyles.scss */
ul.options li {
  list-style: none;
  float: left;
}
/* line 25, ../../app/stylesheets/modstyles.scss */
ul.options li.right {
  float: right;
}
