#writeSkribitHere
%script{:src => SKRIBIT_SCRIPT_SRC}
%noscript
  Sorry, but the
  %a{:href => "http://skribit.com", :title => "Skribit - Cure Writer's Block"} Skribit
  widget only works on browsers with JavaScript support.
  %a{:href => SKRIBIT_BLOG_LINK, :title => SKRIBIT_TITLE} View suggestions for this blog here.